# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
VacDF = pd.read_csv("CityOutput.csv",index_col = 0)
VacDF.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ginda,30.6945,78.4932,49.69,57,98,4.21,IN,1635037541
1,Great Falls,47.5002,-111.3008,49.41,45,1,8.01,US,1635037569
2,Wahpeton,46.2652,-96.6059,43.61,75,40,8.05,US,1635037685
3,Codrington,-38.2667,141.9667,53.08,63,100,15.28,AU,1635037661
4,M朝zan Tefer朝,6.9833,35.5833,61.72,69,1,3.11,ET,1635037687

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
gmaps.configure(api_key=g_key)
locations = VacDF[["Lat","Lng"]].astype(float)
weights = VacDF["Humidity"]

In [23]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
# Miami Beach Weather
MiamiDF = VacDF.loc[VacDF["Max Temp"].between(80,90)]
MiamiDF = MiamiDF.loc[MiamiDF["Humidity"].between(0,75)]
MiamiDF = MiamiDF.loc[MiamiDF["Cloudiness"].between(0,15)]
MiamiDF = MiamiDF.loc[MiamiDF["Wind Speed"].between(0,10)]
MiamiDF = MiamiDF.dropna()
MiamiDF.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
72,Hilo,19.7297,-155.0900,85.28,68,1,9.22,US,1635037565
127,Tombouctou,20.0000,-3.0000,82.47,22,0,8.39,ML,1635037793
250,Cabo San Lucas,22.8909,-109.9124,83.61,71,1,5.99,MX,1635037805
264,Bambanglipuro,-7.9500,110.2833,82.53,71,13,4.74,ID,1635037909
276,Kloulklubed,7.0419,134.2556,86.50,71,14,2.26,PW,1635037917

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df = MiamiDF
hotel_df["Hotel Name"]=""

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "keyword": "hotel",
    "key": gkey,
}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure